%p#notice= notice

.span-8.colborder
    %h2= @admin_project.name

    %p
        %b nome:
        = @admin_project.name

    %p
        %b código:
        = @admin_project.code

    %p
        %b path:
        = @admin_project.path

    %p
        %b descrição:
        = @admin_project.description

    = link_to 'editar', edit_admin_project_path(@admin_project)
    \|
    = link_to 'voltar', admin_projects_path

.span-14
    %h2 time

    %table.round-borders
        %tr
            %th nome
            %th adicionado
            %th web
            %th git
            %th admin
            %th

        - @admin_project.users_projects.each do |tm|
            %tr
                %td= link_to tm.user_name, admin_team_member_path(tm)

                %td= time_ago_in_words(tm.updated_at) + " atrás"

                %td= check_box_tag "read",   1, @admin_project.readers.include?(tm.user), :disabled => :disabled
                %td= check_box_tag "commit", 1, @admin_project.writers.include?(tm.user), :disabled => :disabled
                %td.span-2= check_box_tag "admin",  1, @admin_project.admins.include?(tm.user), :disabled => :disabled
                %td= link_to 'destruir', admin_team_member_path(tm), :confirm => 'você tem certeza?', :method => :delete

    = link_to 'novo membro de time', new_admin_team_member_path(:team_member => {:project_id => @admin_project.id})
